header  {
    background-color: blue;
}

nav li {




display: inline;
max-width:  0 0 0 15px;
}

nav a {
    text-transform:  uppercase;
    color: blue;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;




}